.gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-container p {
    margin-bottom: 1rem;
}

.gallery-item {
    max-width: 1024px;
    width: 100%;
}

.gallery-container>section {}

.gallery-img {
    text-align: center;
    background: #212124;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.gallery-img picture img {
    max-height: calc(100vh - 4rem);
    width: 100%;
    object-fit: contain;
}

.gallery-title {
    padding: 1rem;
    margin: 2rem 0;
}

.gallery-title h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0;
}

.gallery-description-block {
    /*display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    */
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 400px;
}

@media (max-width: 800px) {
    .gallery-description-block {
        grid-template-columns: 1fr 200px;
    }
    .gallery-img {
        padding: 0;
    }
    .gallery-img img {
        margin: 0;
    }
}

@media (max-width: 600px) {
    .gallery-description-block {
        grid-template-columns: 1fr;
    }
}

.gallery-description-block summary.gallery-summary {
    /*order: 1;
    flex-grow: 1;
    min-width: 400px;
    */
}

.gallery-description-block time {
    display: block;
    font-size: 1rem;
}

.gallery-description-block aside.gallery-info {
    /*
    order: 2;
    flex-shrink: 0;
    min-width: 400px;
    max-width: 400px;
    width: 400px;
    */
    background: #dddddd;
    padding: 1rem;
    border-radius: 3px;
    font-size: 0.8rem;
    color: #333;
}

aside.gallery-info ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1rem;
}

aside.gallery-info li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    flex: 0 0 calc((100% / 2) - 1rem);
}

aside.gallery-info li.aside-fullwidth {
    flex: 0 0 100%;
}

aside.gallery-info .gallery-icon {
    font-size: 2rem;
}

aside.gallery-info li span {
    display: block;
}

.gallery-license {}

body {
    margin: 0px;
    max-width: 100%;
}

.gallery-header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 0 0 2rem 0;
}

.index-container {
    height: calc(100vh - 200px);
}

section.index {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: stretch;
    padding-top: 100px;
    height: calc(100vh - 150px);
    gap: 1rem;
    padding: 100px 1rem 0 1rem;
}

section.index aside {
    flex-grow: 1;
    display: flex;
    width: 50%;
}

section.index aside a {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

section.index aside a div {
    width: 100%;
}

div.post-top-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 1em;
    row-gap: 1em;
}

nav#TableOfContents {
    background: whitesmoke;
    padding: 1rem 1.6rem;
    min-width: 300px;
    max-width: 400px;
    float: left;
    align-self: flex-start;
    margin: 0 0 4rem 0;
}

h2.subtitle {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.5em;
}

aside.ingredients {
    background: whitesmoke;
    color: #333;
    padding: 1rem 1.6rem;
    min-width: 300px;
    flex: auto;
}

div.heroimage {
    margin: 0;
    background: #333;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 1.5em;
    text-align: center;
    background-size: cover;
}

div.heroimage>div {
    background: rgba(0, 0, 0, .8);
    overflow: hidden;
}

div.heroimage>div>img {
    margin: 0;
    max-height: 40vh;
}

div.pagination-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
}

ul.pagination {
    display: flex;
    width: 200px;
    margin: auto;
    gap: 0.5rem;
}

ul.pagination li {
    flex: 1;
    width: 4rem;
}

ul.pagination li.page-item a {
    background: #dddddd;
    padding: 1rem;
    border-radius: 3px;
    font-size: 0.8rem;
    color: #333;
}

ul.pagination li.page-item.disabled a {
    background: #dddddd;
    padding: 1rem;
    border-radius: 3px;
    font-size: 0.8rem;
    color: #999999;
}

ul.pagination li.page-item.active a {
    background: #333333;
    padding: 1rem;
    border-radius: 3px;
    font-size: 0.8rem;
    color: #ffffff;
}

.nav-brand {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    opacity: 0.5;
    text-transform: lowercase;
}