{{ define "main" }}
{{- $config := site.Params }}



<section class="index">
    <aside class="article mb-2">
        <a href="/portfolio">
            <div>
                <h3 class="article_title">Portfolio</h3>
                <p>Are you here for the photos?</p>
            </div>
        </a>
    </aside>
    <aside class="article mb-2">
        <a href="/posts">
            <div>
                <h3 class="article_title">Posts</h3>
                <p>or are you here for my scattered thoughts?</p>
            </div>
        </a>
    </aside>
</section>

{{ end }}