{{ define "main" }}
  <div class="wrap mt post">
    <div>
      {{- $date := (dateFormat "January 2, 2006" .Date) -}}
      <p class=post_date>{{ $date }}</p>
      <h1 class="post_title">{{ .Title }}</h1>
    </div>
  </div>

  {{ $image := partial "func/getImage" . }}
  {{ with .Params.image }}
  <div class="heroimage" style="background-image: url({{ $image }});">
    <div>
      <img src="{{ $image }}" alt="{{ . }}">
    </div>
  </div>
  {{ end }}

  <div class="wrap mt post">
    <div>
      <div class="post_body">
      <div class="post_inner">
          {{ if isset .Page.Params "subtitle"}}
          <h2 class="subtitle">{{ .Page.Params.subtitle }}</h2>
          {{ end }}
          <div class="post-top-content">
            {{ .TableOfContents }}
            {{ if isset .Page.Params "ingredients"}}
            <aside class="ingredients">
              <h3>Ingredients</h3>
              {{ .Page.Params.ingredients | markdownify }}
              {{end}}
            </aside>

          </div>

          {{ .Content }}
        </div>
        <div class="post_extra mb-2">
          {{ partialCached "share" . }}
        </div>
        <div>
        {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    </div>
    
  </div>
{{ end }}
